@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500&display=swap');


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
    box-sizing: border-box;
}

html,body{
    min-height: 100%;
}
body{
    
  
}

h2{
font-family: Barlow;
font-size: 40px;
font-weight: 500;
line-height: 72px;
letter-spacing: 0.015em;
}

h3{
    font-family: Barlow;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.015em;
}
.text-box{
    width: 243px;

}

.text-decription{
    font-family: Barlow;
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.03em;
}


.layout{
    max-width: 100%;
    margin: 0 auto;
}

.nav{
    /* box-shadow: 0px 0px 10px 1px #ECE3E3; */
    
}
.links{
    width: 85%;
}

.links a{
    font-family: 'SF Pro',sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-align: left;
}

.contact-bldc{
    padding: 8px 20px;
    background-color: #1d1d1d;
    border-radius: 10px;
}



.active{
    font-family: SF Pro;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.03em;
   color: #D70000;

}

footer ul li a{
    font-family: Barlow;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: -0.019em;
    color: #FFFFFFCC;
    display: inline-block;
    margin-bottom: 8px;
  
}

footer ul li:first-child a{
    font-family: Barlow;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.019em;
    text-align: left;
    margin-bottom: 15px;
}

.bldc-cog-image::after{
    content: "BLDC Labs";
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .hyphen::before{
    content: "\201C";
    position: absolute;
} */
.gradient-blue{
    background: linear-gradient(180deg, #FFFFFF 54.17%, #D5EDFA 100%);

}


.form-input::placeholder{
    color: #111111;
}

.form-container input,select,textarea{
    width: 100%;
}

.item-container.odd .text-info{
    grid-column: 1;
    padding:0 80px;
}
.item-container.odd .image-info{
    grid-column: 2;
}

.item-container.even .text-info{
    grid-column: 2;
    padding: 0 80px;
}
.item-container.even .image-info{
    grid-column: 1;
}


.swiper-pagination .swiper-pagination-bullet{
    width: 45px;
    height: 4px;
    background-color: #444444;
    border-radius: 0;
}

.swiper-pagination{
    bottom: 0px !important;
    left: 0px !important;
    width: auto !important;
}

.why-alto{
    background-image: url('../images/why-alto.png');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}


.why-alto-text li{
    font-family: Barlow;
    font-size: 18px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.03em;
 
}

.application-ul{
    width: max-content;
}

.home-bg{
    background: url('../images/home-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.product-bg{

    background: radial-gradient(rgba(255, 255, 255, .1),rgba(247, 247, 247, .5) ),url('../images/product_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
